<!doctype html>
<html lang=en>
<title>{% block title %}{% endblock %} - Robot Framework</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}">
<script src="{{ url_for('.static', filename='jquery-3.6.0.min.js') }}"></script>
<script src="{{ url_for('.static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}"></script>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
</html>
