# ConfigMap for Apache custom index.html
apiVersion: v1
kind: ConfigMap
metadata:
  name: apache-config
data:
  custompage.html: |
    <html>
    <head><title>Apache Pod</title></head>
    <body>
      <h1>Welcome to Apache - This is the custom page example to display container hostname!</h1>
      <p> Container Host Name: {{ .Env.HOSTNAME }}</p>
    </body>
    </html>

---

# Apache Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: apache-homepage-deployment
  labels:
    app: apache-homepage
spec:
  replicas: 5
  selector:
    matchLabels:
      app: apache-homepage
  template:
    metadata:
      labels:
        app: apache-homepage
    spec:
      initContainers:
      - name: init-apache
        image: busybox
        command: ['sh', '-c', 'cp /config/index.html /usr/local/apache2/htdocs/']
        volumeMounts:
        - name: apache-config-volume
          mountPath: /config
        - name: apache-web-content
          mountPath: /usr/local/apache2/htdocs
      containers:
      - name: apache
        image: httpd:2.4
        ports:
        - containerPort: 80
        env:
        - name: HOSTNAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - name: apache-config-volume
          mountPath: /usr/local/apache2/htdocs/
      volumes:
      - name: apache-config-volume
        configMap:
          name: apache-config
          items:
          - key: index.html
            path: index.html
      - name: apache-web-content
        emptyDir: {}
      tolerations:
      - key: "node-role.kubernetes.io/control-plane"
        operator: "Exists"
        effect: "NoSchedule"
---

# Apache Service
apiVersion: v1
kind: Service
metadata:
  name: apache-homepage-service
  labels:
    app: apache-homepage
spec:
  selector:
    app: apache-homepage
  ports:
    - protocol: TCP
      port: 80
      targetPort: 80
      nodePort: 30081
  type: NodePort
